@font-face {font-family:"Open Sans Condensed Light";src:url("/font_face/OpenSans-CondLight.eot") format("eot"),url("/font_face/OpenSans-CondLight.svg") format("woff"),url("/font_face/OpenSans-CondLight.ttf") format("truetype"),url("/font_face/OpenSans-CondLight.woff") format("svg");font-weight:normal;font-style:normal;}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans';
  min-width: 1020px;
  height: 100vh;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-color {
  background: #777777;
  color: #ffffff;
}

.second-color {
  color: #444444;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.title {
  font-size: 40px;
}

.wrapper {
  min-height: 100%;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}



/* Header */
header {
  background: #dcdcdc;
  height: 230px;
}

.header {
  display: flex;
  height: 100%;
  align-items: center;
}


.auto {
  flex: 1 1 auto;
}
.phone {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  color: #767676;
  height: 81px;
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 46px;
  font-family: "Open Sans Condensed Light";
  align-items: flex-end;
}

.feed_back {
width: 171px;
height: 30px;
color: #767676;
font-family: "PT Sans";
font-size: 24px;
font-weight: 700;
line-height: 46px;
text-align: right;
letter-spacing: 0.6px;
text-decoration: solid;
border-bottom: dashed;
}


/* Menu */
.menu {
  min-height: 80px;
  z-index: 1003;
  padding-bottom: 20px;
}

.menu ul {
  display: flex;
  height: 100%;
  justify-content: center
  ;
  align-items: center;
}

.menu__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  height: 27px;
}

.menu div {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.menu ul {
  display: flex;
  list-style-type: none;
  width: 902px;
  flex-wrap: wrap;
}

.menu ul li {
  border-left: 1px solid #ffffff;
  padding-left: 20px;
  height: 27px;
  margin-top: 26px;
  margin-left: 20px;
}

.menu ul li:first-child {
  border-left: none;
  padding-left: 0;
}

.menu  a:hover {
  text-decoration: underline;
}


/* Breadcrumbs */
.breadcrumbs {
  margin-bottom: 26px;
  margin-top: 5px;
}

.breadcrumbs ul {
  display: flex;
  list-style-type: none;
  color: #767676;
}
.breadcrumbs a {
color: #767676;
font-size: 14px;
font-weight: 400;
line-height: 18px;
padding: 0 10px;
text-decoration: underline;
}

#tdnone {
  text-decoration: none;
}

.breadcrumbs li::before {
  content: '/';
}

.breadcrumbs li:first-child::before
 {
  content: none;
}
.breadcrumbs ul {
  margin-left: -10px;
}
/* .breadcrumbs li a:first-child {
  padding-left: 0;
} */


/* Content */
.content {
  display: flex;
  height: 100%;
  margin-bottom: 200px;
}

.content .container {
  display: flex;
  flex-direction: row;
}



/* Left Block */
.leftblock {
  display: flex;
  flex-direction: column;
  width: 178px;
  min-height: 500px;
}

.leftblock__menu {
  color: #767676;
  list-style-type: none;
}

.leftblock__catalog ul li:hover > a {
  text-decoration: underline;
}

.leftblock a{
  color: #767676;
  font-size: 18px;
  font-weight: 400;
}

.submenu {
  display: none;
  text-decoration: none;
  padding-left: 20px;
  list-style-type: disc;

}

.submenu a {
  margin-left: -3px;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 22px;
}

.submenu li {
  list-style-type: disc;
  color: #767676;
}

.submenu a:hover {
  color: #444444;
  
}

.leftblock__menu li:hover > .submenu {
  display: flex;
  flex-direction: column;
  color: #010101;;
}




.prais {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
}

.prais a{
  color: #444444;
  font-size: 30px;
  line-height: 25px;
  font-weight: 700;
}

.prais a:hover {
  text-decoration: underline;
}



/* Right Block */
.centerblock {
  width: 790px;
  margin-left: auto;
}

.tovaru {
  display: flex;
  flex-wrap: wrap;
  /* width: 7px; */
  margin: -10px -10px;
}

.tovar {
  width: 250px;
  height: 380px;
  background: #dcdcdc;
  margin: 10px;
}

.tovar__body {
display: flex;  
flex-direction: column;
/* width: 188px; */
padding: 20px 20px 14px 20px;
height: 100%;
color: #767676;
font-family: "PT Sans";
font-size: 18px;
font-weight: 400;
line-height: 18px;
text-align: left;
letter-spacing: 0.45px;
justify-content: space-between;
}

.tovar__body a{
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.45px;
  line-height: 18px;
  color: #767676;
}

.tovar__body a:hover {
  text-decoration: underline;
}


.tovar__cost {
  display: flex;
  width: 196px;
  justify-content: space-between;
  font-size: 28px;
  line-height: 18px;
  font-weight: 700;
}

.pager {
  display: flex;
  margin-top: 42px;
  margin-bottom: 30px;
}

.pager__list {
  color: #767676;
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  width: 174px;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 7.91px;
}

.pager__list li a {
  color: #767676;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  height: 100%;
}




#here {
  color: #444444;
  font-size: 18px;
  letter-spacing: 10.17px;
}



.centerblock hr {
  width: 780px;
  height: 1px;
  margin-top: 67px;
  margin-bottom: 28px;
}

.botom {
color: #767676;
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: left;
letter-spacing: 0.35px;
display: flex;
margin: -20px;
}

.botom p {
  flex: 1;
  margin: 20px;
}


/* Footer */
.footer {
  margin-top: auto;
  height: 220px;
}
.footer ul {
  width: 119px;
  height: 117px;
}

.footer ul li {
  list-style-type: none;

}

.footer .container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

#mail:hover {
  text-decoration: underline;
}

.menu__foot {
  text-decoration: underline;
}

.foot__logo {
  display: flex;
}

.foot__logo img {
  margin-right: 9px;
}

.foot__logo a {
  text-decoration: underline;
}

.foot__logo div {
  height: 33px;
  width: 170px;
  margin-top: -6px;
}




/* FeedBack */
.popup {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 1005;
}

.popup_bg {
  background: #808080;
  /* background:rgba(0,0,0,0.4); */
  position: fixed;
  z-index: 1010;
  min-height: 100%;
  width: 100%;
  opacity: 0.5;
}

.popup__close {
  background: #777777;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -62px;
  margin-bottom: 62px;
  margin-left: 402px;
  width: 27px;
  height: 27px;

}

.popup__close a{
  margin-top: 3px;
}

.popup__close:active {
  background: #444444;
}

.form {
  position: relative;
  margin: 15vh auto;
  z-index: 1100;
  width: 466px;
  height: 600px;
  padding: 35px 63px 26px 64px;  
  background: #ffffff;
  /* border: 1px solid #666666; */
  /* box-shadow: 0 0 2px rgba(0,0,0,0.5); */
  color: #535353;
}

.form__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__body h2 {
font-size: 24px;
font-weight: 700;
text-transform: uppercase;
/* margin-bottom: 35px; */
}

.form__item {
  width: 339px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form__item label {
  font-size: 14px;
  font-weight: 400;
}

.form input {
  width: 100%;
  height: 40px;
  padding: 10px;
  /* padding: 5px 2%; */
  /* margin: 10px 0; */
  border-radius: 0;
  border: 1px solid #c3c3c3;
  /* border-radius: 4px;  */
  /* background: #777777; */
}

.form input:invalid:not(:required) {
  
  box-shadow: 4px 4px 83px 8px rgba(228, 106, 106, 0.75) inset;
}

.form input:-moz-ui-invalid {
  box-shadow: 0 0 1.5px 1px red;
  box-shadow: inset 0 0 13px rgba(228, 106, 106, 0.75);
}


.form input:invalid::placeholder {
  color: #dc7f7f;
  font-size: 14px;
}


.form #popup__massage {
  width: 100%;
  height: 140px;
  padding: 10px;
  resize: none;
}

#send {
  border: none;
  width: 128px;
  height: 42px;
  color: #ffffff;
  background: #777777;
  margin-top: 22px;
  font-weight: 700;
}

#send:active {
  background: #535353;
}



/* Slider */


/* Слайдер */ 
.slick-slider{} 

/* Слайдер запущен */ 
.slick-slider.slick-initialized{} 

/* Слайдер с точками */ 
.slick-slider.slick-dotted{}	

/* Ограничивающая оболочка */ 
.slick-list {
  /* overflow: hi
  dden; */
} 

/* Лента слайдов */ 
.slick-track{
  display: flex;
  margin-top: -20px;
  z-index: -1;
  /* overflow: hidden; */
}

/* Слайд */ 
.slick-slide{} 

/* Слайд активный (показывается) */ 
.slick-slide.slick-active{} 

/* Слайд основной */
.slick-slide.slick-current{} 

/* Слайд по центру */ 
.slick-slide.slick-center{} 

/* Клонированный слайд */ 
.slick-slide.slick-cloned{}

/* Стрелка */ 
.slick-arrow{} 

/* Стрелка влево */ 
.slick-arrow.slick-prev{} 

/* Стрелка вправо */ 
.slick-arrow.slick-next{} 

/* Стрелка не активная */ 
.slick-arrow.slick-disabled{}

/* Точки (булиты) */ 
.slick-dots{} .slick-dots li{} 

/* Активная точка */ 
.slick-dots li.slick-active{} 

/* Элемент точки */ 
.slick-dots li button{} 

/* Мій слайдер */
.buttons{
  position: static;
  display: flex;
  justify-content: space-between;
  margin-top: -260px;
  padding-bottom: 200px;
}

.slider-center {
  margin-top: -40px;
  display: flex;
  overflow: hidden;
  justify-content: center;
}


.slider {
  max-width: 1248px;
  margin: 0 auto;
  
}
.container .slick-arrow {
  position: relative;
  top: 50%;
  z-index: 1000;
  font-size: 0;
  width: 34px;
  height: 61px;
  border: none;
}

.container .slick-arrow.slick-prev {
  left: 0;
  background: url('../img/previous.png') 0 0 no-repeat; 
}


.container .slick-arrow.slick-next {
  right: 0;
  background: url('../img/next.png') 0 0 no-repeat;
}

.slider__item {}
